@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #171717; /* Forza lo sfondo scuro se Tailwind non carica */
  color: white; /* Forza il testo bianco */
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
}
